
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://nodeista.com/public/images/media/1635251660nodeista-removebg-preview.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
      Nodeista - {{name }}
    </a>
  </div>
</nav>
